{% extends "mac_admin/base.html" %}
{% block content %}
    <div><h1>Welcome to the Mac Admins Toolbox</h1></div>
    <div>
        <p>On this website you can manage the following items:<p>
        <ul>
            <li>Add a computer to JSS static groups with <a href="c2sg">Mac to Static</a></li>
            <li>Copy static group assignments from one computer to another with <a href="under_construction">Mac to Mac</a> (currently under construction)</li>
            <li>Import a csv file with [computer,group_id] (',' or ';' as delimiter are supported) rows with <a href="under_construction">Import CSV</a> (currently under construction)</li>
        </ul>
    </div>
{% endblock %}
